.Topiclist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    scroll-behavior: auto;
    justify-content: center;
}


.error {
    text-align: center;
    color: red;
}