.progressbar {
  
  height: 2px;
  margin-left: 15px;
  background-color: #dad6d6;
 
}

.progressbar-step-container {
    position: relative;
  display: flex;
  justify-content: space-between;
  transform: translateY( -18px);
  margin-bottom: 100px;
 
}

.bar {
    width: 1%;
    height: 4px;
    margin-left: 15px;
    background-color:  #ffa600;
    max-width: calc(100% - 32px);
  }
  

 