.step-container {

}

.step-circle {
}

.step-description {
    position: fixed;
    width: 10%;
    margin-top: 6px;
    transform: translateX(-30%);
    text-align: center; 
}
 /* .step-container:last-child{
    transform: translateX(48px);
    margin-left: -16px;
}  */